.f-intro{
    height: 50vh;
    color: #fff;
    background-color: #1B1B1B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.f-top_side{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 2rem;
}
.f-text>:nth-child(1){
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

.f-text>:nth-child(2){
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.4rem;
    color: rgb(212, 206, 206);
}
.f-text>:nth-child(3){
    font-size: 1rem;
    font-weight: 100;
    color: rgb(212, 206, 206);
}

.f-navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5rem;
    gap: .5rem;
    color: rgb(212, 206, 206);
}
.f-navbar>:nth-child(1){
    font-size: 1.05rem;
    font-weight: 200;
}
.f-navbar>:nth-child(2){
    font-size: 1.02rem;
    font-weight: 200;
    margin-top: 1.1rem;
}
.f-navbar>:nth-child(3),:nth-child(4),:nth-child(5){
    font-size: 1.02rem;
    font-weight: 200;
}



.f-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5rem;
    gap: 1.2rem;
}
.f-contact>:nth-child(1){
    font-size: 1.05rem;
    font-weight: 200;
    color: rgb(212, 206, 206);
}

.f-contact>:nth-child(2){
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.4rem;
    color: rgb(212, 206, 206);
}
.f-contact>:nth-child(3){
    font-size: 1rem;
    font-weight: 100;
    color: rgb(212, 206, 206);
}

.f-icon{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 11.5rem;
}

.f-icon>:nth-child(1) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}
.icon1{
    margin-left: .55rem;
    margin-top: .4rem;
}
.f-icon>:nth-child(2) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}
.icon2{
    margin-left: .4rem;
    margin-top: .4rem;
}
.f-icon>:nth-child(3) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}
.icon3{
    margin-left: .4rem;
    margin-top: .4rem;
}
.f-icon>:nth-child(4) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
}

.icon4{
    margin-left: .4rem;
    margin-top: .4rem;
}

.f-bottom_side{
    margin-top: 3rem;
    text-align: center;
    position: relative;
}

.f-bottom_side>:nth-child(2){
    font-size: .8rem;
    color: rgb(212, 206, 206);
    position: absolute;
    top: 1500%;
    left: 39%;
}