.bg{
    background-image: url(./images/Bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen  and (max-width: 480px){
    .bg{
        width: 100%;
    }
}
